<%- include("partials/header") -%>

    <h1>Home</h1>
    <p>
        <%= homeContent %>
    </p>


        <% postArray.forEach((posting)=>{ %>
           <h3> <%= posting.title %></h3>
           <p> <%= ((posting.content).substring(0,150))+"...."%> <a href="/posts/<%= posting._id %>">Read more.</a></p>
        <% }); %>

        <button class="butn" title="Compose new post"><a href="/compose">+</a></button>

<%- include("partials/footer") -%>